<header class="header">
  <div class="wrapper">
    <nav>
      <ul>
	<li><a href="/"><i class="fa-solid fa-layer-group"></i><span class="nav-text">OSS</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="https://theartofpostgresql.com/">TAOP</a></li>
	<li class="divider"></li>
	<li><a href="/projects/"><i class="fa-solid fa-boxes-stacked"></i><span class="nav-text">PROJECTS</span></a></li>
	<li class="divider"></li>
	<li><a href="/partner/"><i class="fa-solid fa-handshake"></i><span class="nav-text">PARTNER</span></a></li>
	<li class="divider"></li>
	<li><a href="/roadmap/"><i class="fa-solid fa-map"></i><span class="nav-text">ROADMAP</span></a></li>
	<li class="divider"></li>
	<li><a class="logo" href="https://theartofpostgresql.com/">TAOP</a></li>
	<li class="divider"></li>
	<li><a href="https://theartofpostgresql.com/book/"><i class="fa-solid fa-book-open"></i><span class="nav-text">BOOK</span></a></li>
      </ul>
    </nav>
  </div>
</header>
